In [131]:
import pandas as pd
import numpy as np
data=pd.read_csv('D:\study\DATA SCIENENCE PROGRAMME\Anik Sutradhar - free_session_information.csv')

In [132]:
data.columns

Index(['Time Stamp ', 'Name of the candidate ', 'Contact ', 'Email id ',
       'College name ', 'Brach ', 'People having laptop ',
       'Souce of communication ', 'Unnamed: 8', 'Unnamed: 9', 'Country '],
      dtype='object')

In [133]:
data.drop(['Unnamed: 8', 'Unnamed: 9','Contact ', 'Email id '],axis=1,inplace=True)
data

,Time Stamp,Name of the candidate,College name,Brach,People having laptop,Souce of communication,Country
0,8/24/2020 17:01:39,A.S.M. Raquibul Hasan,United International University,others,Yes,Facebook,Bangladesh
1,8/24/2020 10:08:54,Abdullah,IIT,Engineering,NaN,NaN,Bangladesh
2,8/24/2020 9:20:28,Abdullah Bin Murad,Shahjalal University of Science and Technology,Engineering,Yes,NaN,Bangladesh
3,7/28/2020 12:16:30,Abhijoy Mukherjee,Asutosh College,Statistics,Yes,Friend,India
4,7/10/2020 13:56:14,Abhipreeti Acharjee,"DEPARTMENT OF PURE MATHEMATICS, UNIVERSITY OF ...",PURE MATHEMATICS,Yes,NaN,India
...,...,...,...,...,...,...,...
963,1/22/2021 22:06:24,Ramanish Banerjee,MAULANA AZAD COLLEGE,Honors (BSC/MSC),Yes,NaN,NaN
964,1/22/2021 22:46:21,Jinia Banerjee,Maulona Azad College,Honors (BSC/MSC),No,NaN,NaN
965,1/23/2021 10:57:08,Md Safiqul Islam,Maulana Azad College,Honors (BSC/MSC),Yes,NaN,NaN
966,1/23/2021 12:27:32,Soumojit Chatterjee,Maulana Azad College,Honors (BSC/MSC),Yes,NaN,NaN
967,1/23/2021 17:37:35,Debanjan Bhattacharjee,Maulana Azad College,Honors (BSC/MSC),Yes,NaN,NaN

In [136]:
data.isna().sum()

Time Stamp                  20
Name of the candidate       21
College name                28
Brach                       35
People having laptop        28
Souce of communication     536
Country                    492
dtype: int64

In [137]:
data.dropna(inplace=True,subset=['Name of the candidate ','College name ', 'Brach ','People having laptop '])
data

,Time Stamp,Name of the candidate,College name,Brach,People having laptop,Souce of communication,Country
0,8/24/2020 17:01:39,A.S.M. Raquibul Hasan,United International University,others,Yes,Facebook,Bangladesh
2,8/24/2020 9:20:28,Abdullah Bin Murad,Shahjalal University of Science and Technology,Engineering,Yes,NaN,Bangladesh
3,7/28/2020 12:16:30,Abhijoy Mukherjee,Asutosh College,Statistics,Yes,Friend,India
4,7/10/2020 13:56:14,Abhipreeti Acharjee,"DEPARTMENT OF PURE MATHEMATICS, UNIVERSITY OF ...",PURE MATHEMATICS,Yes,NaN,India
5,7/28/2020 13:14:59,Abhiraj Bhattacharya,Vivekananda College,B.Sc statistics,Yes,Friend,India
...,...,...,...,...,...,...,...
963,1/22/2021 22:06:24,Ramanish Banerjee,MAULANA AZAD COLLEGE,Honors (BSC/MSC),Yes,NaN,NaN
964,1/22/2021 22:46:21,Jinia Banerjee,Maulona Azad College,Honors (BSC/MSC),No,NaN,NaN
965,1/23/2021 10:57:08,Md Safiqul Islam,Maulana Azad College,Honors (BSC/MSC),Yes,NaN,NaN
966,1/23/2021 12:27:32,Soumojit Chatterjee,Maulana Azad College,Honors (BSC/MSC),Yes,NaN,NaN
967,1/23/2021 17:37:35,Debanjan Bhattacharjee,Maulana Azad College,Honors (BSC/MSC),Yes,NaN,NaN

In [138]:
data.isna().sum()

Time Stamp                   0
Name of the candidate        0
College name                 0
Brach                        0
People having laptop         0
Souce of communication     501
Country                    466
dtype: int64

In [139]:
data['Souce of communication '].fillna(method='ffill',inplace=True)
data

,Time Stamp,Name of the candidate,College name,Brach,People having laptop,Souce of communication,Country
0,8/24/2020 17:01:39,A.S.M. Raquibul Hasan,United International University,others,Yes,Facebook,Bangladesh
2,8/24/2020 9:20:28,Abdullah Bin Murad,Shahjalal University of Science and Technology,Engineering,Yes,Facebook,Bangladesh
3,7/28/2020 12:16:30,Abhijoy Mukherjee,Asutosh College,Statistics,Yes,Friend,India
4,7/10/2020 13:56:14,Abhipreeti Acharjee,"DEPARTMENT OF PURE MATHEMATICS, UNIVERSITY OF ...",PURE MATHEMATICS,Yes,Friend,India
5,7/28/2020 13:14:59,Abhiraj Bhattacharya,Vivekananda College,B.Sc statistics,Yes,Friend,India
...,...,...,...,...,...,...,...
963,1/22/2021 22:06:24,Ramanish Banerjee,MAULANA AZAD COLLEGE,Honors (BSC/MSC),Yes,I got to know about this from my college's ma'am.,NaN
964,1/22/2021 22:46:21,Jinia Banerjee,Maulona Azad College,Honors (BSC/MSC),No,I got to know about this from my college's ma'am.,NaN
965,1/23/2021 10:57:08,Md Safiqul Islam,Maulana Azad College,Honors (BSC/MSC),Yes,I got to know about this from my college's ma'am.,NaN
966,1/23/2021 12:27:32,Soumojit Chatterjee,Maulana Azad College,Honors (BSC/MSC),Yes,I got to know about this from my college's ma'am.,NaN
967,1/23/2021 17:37:35,Debanjan Bhattacharjee,Maulana Azad College,Honors (BSC/MSC),Yes,I got to know about this from my college's ma'am.,NaN

In [139]:
data['Souce of communication '].fillna(method='ffill',inplace=True)
data

,Time Stamp,Name of the candidate,College name,Brach,People having laptop,Souce of communication,Country
0,8/24/2020 17:01:39,A.S.M. Raquibul Hasan,United International University,others,Yes,Facebook,Bangladesh
2,8/24/2020 9:20:28,Abdullah Bin Murad,Shahjalal University of Science and Technology,Engineering,Yes,Facebook,Bangladesh
3,7/28/2020 12:16:30,Abhijoy Mukherjee,Asutosh College,Statistics,Yes,Friend,India
4,7/10/2020 13:56:14,Abhipreeti Acharjee,"DEPARTMENT OF PURE MATHEMATICS, UNIVERSITY OF ...",PURE MATHEMATICS,Yes,Friend,India
5,7/28/2020 13:14:59,Abhiraj Bhattacharya,Vivekananda College,B.Sc statistics,Yes,Friend,India
...,...,...,...,...,...,...,...
963,1/22/2021 22:06:24,Ramanish Banerjee,MAULANA AZAD COLLEGE,Honors (BSC/MSC),Yes,I got to know about this from my college's ma'am.,NaN
964,1/22/2021 22:46:21,Jinia Banerjee,Maulona Azad College,Honors (BSC/MSC),No,I got to know about this from my college's ma'am.,NaN
965,1/23/2021 10:57:08,Md Safiqul Islam,Maulana Azad College,Honors (BSC/MSC),Yes,I got to know about this from my college's ma'am.,NaN
966,1/23/2021 12:27:32,Soumojit Chatterjee,Maulana Azad College,Honors (BSC/MSC),Yes,I got to know about this from my college's ma'am.,NaN
967,1/23/2021 17:37:35,Debanjan Bhattacharjee,Maulana Azad College,Honors (BSC/MSC),Yes,I got to know about this from my college's ma'am.,NaN

In [140]:
data.isna().sum()

Time Stamp                   0
Name of the candidate        0
College name                 0
Brach                        0
People having laptop         0
Souce of communication       0
Country                    466
dtype: int64

In [141]:
data['Country '].fillna(value=0,inplace=True)
data

,Time Stamp,Name of the candidate,College name,Brach,People having laptop,Souce of communication,Country
0,8/24/2020 17:01:39,A.S.M. Raquibul Hasan,United International University,others,Yes,Facebook,Bangladesh
2,8/24/2020 9:20:28,Abdullah Bin Murad,Shahjalal University of Science and Technology,Engineering,Yes,Facebook,Bangladesh
3,7/28/2020 12:16:30,Abhijoy Mukherjee,Asutosh College,Statistics,Yes,Friend,India
4,7/10/2020 13:56:14,Abhipreeti Acharjee,"DEPARTMENT OF PURE MATHEMATICS, UNIVERSITY OF ...",PURE MATHEMATICS,Yes,Friend,India
5,7/28/2020 13:14:59,Abhiraj Bhattacharya,Vivekananda College,B.Sc statistics,Yes,Friend,India
...,...,...,...,...,...,...,...
963,1/22/2021 22:06:24,Ramanish Banerjee,MAULANA AZAD COLLEGE,Honors (BSC/MSC),Yes,I got to know about this from my college's ma'am.,0
964,1/22/2021 22:46:21,Jinia Banerjee,Maulona Azad College,Honors (BSC/MSC),No,I got to know about this from my college's ma'am.,0
965,1/23/2021 10:57:08,Md Safiqul Islam,Maulana Azad College,Honors (BSC/MSC),Yes,I got to know about this from my college's ma'am.,0
966,1/23/2021 12:27:32,Soumojit Chatterjee,Maulana Azad College,Honors (BSC/MSC),Yes,I got to know about this from my college's ma'am.,0
967,1/23/2021 17:37:35,Debanjan Bhattacharjee,Maulana Azad College,Honors (BSC/MSC),Yes,I got to know about this from my college's ma'am.,0

In [142]:
data.isna().sum()

Time Stamp                 0
Name of the candidate      0
College name               0
Brach                      0
People having laptop       0
Souce of communication     0
Country                    0
dtype: int64

In [143]:
data.to_csv('free_session.csv')